<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">

      <div ui-grid="datasetGrid" __ui-grid-auto-resize ui-grid-pagination class="datasetGrid" ng-if="selectedDataset"></div>
      <div ng-show="loadingData">Loading...</div>

      <div gridster="gridsterOpts">
        <ul>
          <li gridster-item="widget" ng-repeat="widget in selectedDataset.widgets" ng-if="toggleWidget(widget)">
            <div class="box">
              <div class="box-header gridster-allow-drag">
                <h4 class="gridster-allow-drag"
                ng-mouseenter="widget.showHeaderOverflow = true"
                ng-mouseleave="widget.showHeaderOverflow = false"
                ng-class="widget.showHeaderOverflow ? 'box-header-overflow-visible' : 'box-header-overflow-hidden'"
                >{{widget.title || 'Widget ' + $index}}</h4>
                <div class="box-header-btns pull-right"
                ng-show="!widget.showHeaderOverflow">
                  <a title="Remove widget" ng-click="removeWidget(widget, $index)"><i class="glyphicon glyphicon-trash"></i></a>
                </div>
              </div>
              <div class="box-content" ng-switch on="widget.type"
              style="max-height: {{widget.chartConfig.size.height+20}}px;">
                <div ng-switch-when="data">
                </div>
                <div ng-switch-when="datatypes">
                  <div class="box-content-actions-header">
                    <span class="box-content-actions-label">
                    {{selectedDataset.results.messystreams.length}} columns
                    </span>
                    <span class="box-content-actions-label">Show:</span>
                    <span class="{{selectedOptionClass(widget.vizType, 'list')}}" ng-click="toggleWidgetOption(widget, 'vizType', 'list')">List</span>
                    <span class="{{selectedOptionClass(widget.vizType, 'chart')}}" ng-click="toggleWidgetOption(widget, 'vizType', 'chart')">Chart</span>
                  </div>

                  <div ng-if="widget.vizType === 'list'" class="list-group">
                    <a class="list-group-item" href="#"
                    ng-repeat="result in selectedDataset.results.messystreams"
                    title="{{datatypeHasHistogram(result) ? 'Show histogram' : ''}}"
                    ng-click="datatypeClicked($event, result)">
                      <span class="badge messystreams-badge-{{type.name}}"
                      ng-repeat="type in result.types">
                      {{type.name}}{{type.count == selectedDataset.count ? '' : ": " + type.count + " (" + type.percentage + "%)"}}
                      </span>
                      {{result.key}}
                    </a>
                  </div>

                  <div ng-if="widget.vizType === 'chart'">
                    <highchart id="chart_{{selectedDataset.id}}_datatypes_{{$index}}" config="widget.chartConfig"></highchart>
                  </div>

                </div>

                <div ng-switch-when="histogram">
                  <div class="box-content-actions-header">
                    <span class="box-content-actions-label">
                    {{selectedDataset.histograms[widget.key][widget.datatype].value.length}} values
                    </span>
                    <span class="box-content-actions-label">Show:</span>
                    <span class="{{selectedOptionClass(widget.vizType, 'list')}}" ng-click="toggleWidgetOption(widget, 'vizType', 'list')">Top 20</span>
                    <span class="{{selectedOptionClass(widget.vizType, 'histogram')}}" ng-click="toggleWidgetOption(widget, 'vizType', 'histogram')">Histogram</span>
                    <span class="{{selectedOptionClass(widget.vizType, 'semantic')}}" ng-click="toggleWidgetOption(widget, 'vizType', 'semantic')"
                    ng-show="datatypeHasSemantics(selectedDataset, widget.key)"
                    >Semantic</span>
                    <span ng-if="widget.vizType === 'histogram'">
                      <span class="box-content-actions-label">Sort by:</span>
                      <span class="{{selectedOptionClass(widget.sort, 'count')}}" ng-click="toggleWidgetOption(widget, 'sort', 'count')">Count</span>
                      <span class="{{selectedOptionClass(widget.sort, 'value')}}" ng-click="toggleWidgetOption(widget, 'sort', 'value')">Value</span>
                    </span>
                  </div>

                  <div ng-if="widget.vizType === 'list'" class="list-group">
                    <a class="list-group-item"
                    ng-repeat="result in selectedDataset.histograms[widget.key][widget.datatype].count | orderBy:'-count' | limitTo:20 ">
                      <span class="badge">
                      {{result.count}} ({{result.count*100/selectedDataset.count | number:0}}%)
                      </span>
                      {{result.value}}
                    </a>
                  </div>

                  <div ng-if="widget.vizType === 'histogram' || widget.vizType === 'semantic'">
                    <highchart id="chart_{{selectedDataset.id}}_{{$index}}_{{widget.vizType}}" config="widget.chartConfig"></highchart>
                  </div>

                </div>

                <div ng-switch-when="outliers">
                  <div class="box-content-actions-header">
                    <span class="box-content-actions-label">
                    {{selectedDataset.results.outliers.length}} outliers
                    </span>
                  </div>
                  <div ng-if="widget.vizType === 'list'" class="list-group">
                    <a class="list-group-item" href="#"
                    ng-repeat="result in selectedDataset.results.outliers"
                    ng-click="outlierClicked($event, result)">
                      {{result.outlier}}
                    </a>
                  </div>
                </div>
                <div ng-switch-when="outlierHistogram">
                    <highchart id="chart_{{selectedDataset.id}}_outliersHisto" config="widget.chartConfig"></highchart>
                </div>


              </div>
            </div>
          </li>
        </ul>
      </div>

    </div>

  </div>

</div>
