<div class="container">
  <h2>Project list</h2>

  <!-- Todos input -->
  <form role="form" ng-submit="addProject()">
    <div class="row">
      <div class="input-group">
        <input type="text" ng-model="newProjectName" placeholder="Enter new project name" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>

  <!-- Todos list -->
  <p class="input-group" ng-repeat="project in projects">
    <input type="text" ng-model="project.name" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-danger" ng-click="removeProject(project, $index)" aria-label="Remove">X</button>
    </span>
  </p>

</div>
